<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Administration des bots</title>
    </head>

    <body>

        <h1>Service d'aministration de ChatBot</h1>

        <p>Bienvenue</p>

        <button id="affichageBots"> Afficher Bots </button>

        <input type="name" id="nom" name="nom" placeholder="Nom du bot"></input>
        <button id="creationBot"> Créer Bot </button>

        <form action="/admin" method="get" id="formulaire_chat">
            <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
            <input type="submit" id="envoi_message" value="Envoyer" />
        </form>

        <form action = "/admin/botID" method ="put">
            <button> Modifier Bot </button>
        </form>
        
        <form action = "/admin/botID" method ="delete">
            <button> Supprimer Bot </button>
        </form>

        <script>
            $('#formulaire_chat').submit(function () {
                console.log("rdozenk svbgfrhnejk")
            });
        </script>

        <script>
            $('#creationBot').click(function () {
                console.log("yo");
                var nom = $('#nom').val();
                ajoutBot(nom);
                $('#nom').val('').focus();
                return false;
            });
            
            
            function ajoutBot(nom) {
                //Envoi d'une requête post vers /admin

                // Création et configuration d'une requête HTTP POST vers le fichier post_form.php
                var req = new XMLHttpRequest();
                req.open("POST", "http://localhost:5000/admin");
                //Indique que le contenu de la requête est au format JSON
                req.setRequestHeader("Content-Type", "application/json");
                // Envoi de la requête en y incluant l'objet
                req.send({"nom": nom});
            }
        </script>

<script type="text/javascript">
    function afficherBots() {
        var req = new XMLHttpRequest();
        req.open("GET", "http://localhost:5000/admin");
        //Indique que le contenu de la requête est au format JSON
        req.setRequestHeader("Content-Type", "application/json");
        // Envoi de la requête en y incluant l'objet
        req.send(null);
    }
</script>

<script type="text/javascript">
    function ajouterBot() {
        var req = new XMLHttpRequest();
        req.open("POST", "http://localhost:5000/admin");
        //Indique que le contenu de la requête est au format JSON
        req.setRequestHeader("Content-Type", "application/json");
        // Envoi de la requête en y incluant l'objet
        //var str = '[{ "nom": nom.value }]';
        //var json = JSON.parse(str);
        //console.log(json)
        req.send(null)
    }
</script>


        <script>
            $('#affichageBots').click(function () {
                console.log ("yo");
                affichage();
            });
            var Bot = require('./modeles/bot');

            function affichage() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'http://localhost:5000/admin');

                xhr.addEventListener('readystatechange', function() { // On gère ici une requête asynchrone
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) { // Si le fichier est chargé sans erreur
                        Bot.getElementById('fileContent').innerHTML = '<span>' + xhr.responseText + '</span>'; // Et on affiche !
                    }

                });
                xhr.send(null); // La requête est prête, on envoie tout !

            }
        </script>

        <p>Liste des cerveaux actifs : </p>
        <table id = 'r'>
            <style>
                table{border-collapse: collapse;}
                td, th {border: 1px solid black;}
            </style>
            <caption>Liste des bots actifs</caption>
         
            <tr>
                <th>Nom</th>
                <th>Cerveau</th>
                <th>Sauvegarde 
                    données</th>
                <th>Interface</th>
                <th>Actif</th>
            </tr>
            <tr>
                <td>Bot1</td>
                <td>bonjour</td>
                <td>non</td>
                <td>Discord</td>
                <td>non</td>
            </tr>
            <tr>
                <td><script>
            $('#r').append('<tr><td>Age</td> : </p>'); </script></td>
                <td>26 ans</td>
                <td>États-Unis</td>
            </tr>
         </table>
        <p id="zone_chat">
        </p>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <script>
            for (i = 0; i< len(app.listeBot); i++){
                ajoutBot(app.listeBot[i]);
            }

            
            function ajoutBot(fichier) {
                $('#zone_chat').prepend('<p><strong>-</strong> ' + fichier.nom + '</p>');
            }
        </script>

    </body>
</html>