<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Notre interface de Chat</title>
        <style>
            body {
                font-family: sans-serif !important;
            }
            #zone_chat{
                background: #e4e8fb ;
                padding: 5px 20px 5px 20px;
                width: 90%;
		}
        </style>
    </head>
 
    <body>
        <h1>Notre interface de Chat</h1>


        <div> 
            <input type="text" name="messageToSend" id="messageToSend" placeholder="Votre message..." size="50" autofocus />
            <button onclick="sendAndReceive()"> Envoyer </button>
        </div>
       
        <div> <br> </div>

        <div><section id="zone_chat"></section></div>


        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script>
            // On demande le pseudo, on l'envoie au serveur et on l'affiche dans le titre
            var pseudo = prompt('Quel est votre pseudo ?');
            document.title = pseudo + ' - ' + document.title;
            var botID= "<%=id%>";

            function send(message, callback){
                fetch("/parler/a/"+botID, {
                    method: "POST",
                    headers:{
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({message: message})})
                .then(res=> {return res.json()})
                .then(data => callback(data))
            }

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            function sendAndReceive() {
                var message = messageToSend.value;
                insereMessage(pseudo, message);

                send(message, (reponse)=>{
                    insereMessage(reponse.pseudo, reponse.reponse);
                })
                
            }
            
            // Ajoute un message dans la page
            function insereMessage(pseudo, message) {
                $('#zone_chat').prepend('<p><strong>' + pseudo + ' : </strong> ' + message + '</p>');

                messageToSend.value = '';
                messageToSend.focus();
            }
        </script>
    </body>
</html>