<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Administration des bots</title>
    </head>

    <body>
        <h1>Service d'aministration de ChatBot</h1>
        <p>Bienvenue</p>


        <form action = "/admin" method ="get" >
            <button> Afficher Bots </button>
        </form>

        <input id="nom" name="nom" placeholder="Nom du bot"></input>
        <button onclick="ajouterBot()"> Créer le bot </button>

        <input type="text" name="idBotSuppr" id="idBotSuppr" placeholder="Id du bot" size="50" autofocus />
        <button onclick="supprimerBot()"> Supprimer le bot </button>


        <script type="text/javascript">

            function ajouterBot (){
                fetch("/admin/", {
                    method: "POST",
                    headers:{
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({nom: nom.value})})
                .then(res=> {return res.json()})
                .then(data => {
                    alert(data.msg)
                })
                idBotSuppr.value = '';
            }


            function supprimerBot() {
                fetch("/admin/"+idBotSuppr.value, {
                    method: "DELETE",
                    headers:{
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }})
                .then(res=> {return res.json()})
                .then(data => {
                    alert(data.msg)
                })
                idBotSuppr.value = '';
            }
        </script>
    </body>
</html>